html select,
html input[type="submit"]
{
    background-color : #282828 !important;
    color: #e5e5e5 !important;
}

html select:hover,
html input[type="submit"]:hover
{
    background-color : #444 !important;
}

html * {
    caret-color: #888;
}

/* extra classes for mongo university */
input, textarea, .enxecro3, .css-1l6jili {
	background-color: #3c3836 !important;
	background-image: none !important;
	color: #e5e5e5 !important;
}

.button {
/*	background-color: #28292a !important;*/
	background-image: none !important;
/*	background-image: linear-gradient(#ffffff ,#efefef) !important;*/
/*	background-image: url("bg.png");
/*	border-color: rgb(69, 74, 75);
    box-shadow: rgb(57 61 62) 0px -1px 0px 0px inset;
    color: rgb(176, 171, 164);
	color: #e5e5e5 !important;*/
}

::-webkit-scrollbar { width: initial; }
::-webkit-scrollbar-button {  background-color: #333; }
::-webkit-scrollbar-track {  background-color: #282828; }
::-webkit-scrollbar-track-piece { background-color: #222; }
::-webkit-scrollbar-thumb { background-color: #444; }
::-webkit-scrollbar-corner { background-color: #333; }
::-webkit-resizer { background-color: #444; }
